@page "{restaurantId}"
@model OdeToFood.Pages.Restaurants.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
    <h2>Delete</h2>
    <div class="danger alert-danger">
        Are your sure you want to delete @Model.Restaurant.Name ?
    </div>
    <form method="post">
        <button type="submit" class="danger btn-danger">Yes!</button>
        <a asp-page="List" class="btn btn-default">Cancel</a>
    </form>

